/*
    Created on : Jul 8, 2018, 6:09:08 PM
    Author     : shawh
*/

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Regular.ttf');
}

.root {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-style: none;
    -fx-font-family:"Nunito";
    -fx-font-size: 14;

}

.button {
    -fx-background-color: #c9d700;
    -fx-font-size: 14;
    -fx-width: 200;
    -fx-text-fill: #FFFFFF;
    -fx-font-family:"Nunito";
}

.button-cancel {
    -fx-background-color: #666666
}

.button-date {
    -fx-background-color: #fff;
    -fx-text-fill: #999;
    -fx-background-color: #eee;
    -fx-min-width:100;
}

.button-toggle-right {
    -fx-height: 30;
    -fx-background-color: #c9d700;
    -fx-text-fill: #FFF;
    -fx-border-top-right-radius: 20px;
    -fx-border-bottom-right-radius: 20px;

    -fx-border-top-left-radius: 0px;
    -fx-border-bottom-left-radius: 0px
}

.button-toggle-left {
    -fx-height: 30;
    -fx-background-color: #c9d700;
    -fx-text-fill: #FFF;
    -fx-border-top-left-radius: 20px;
    -fx-border-bottom-left-radius: 20px;

    -fx-border-top-right-radius: 0px;
    -fx-border-bottom-right-radius: 0px;
}

.leftNav {
    -fx-background-color: #ffffff;
    -fx-text-fill:#406028;
    -fx-font-size: 22;
    -fx-min-height: 30;
    -fx-min-width: 190;
    -fx-font-family: "Nunito";
    -fx-alignment:baseline-left

}

.active-nav{
    -fx-background-color: #c9d700;
    -fx-text-fill:#FFFFFF;
    -fx-font-size:24;
}

.header{

    -fx-text-fill:#406028;
    -fx-font-size: 34;
    -fx-min-height: 40;
    -fx-font-family: "Nunito";
    -fx-alignment:baseline-left
}

.subheader{
    -fx-font-size:20;
    fx-min-height:20;
}


.no-borders {
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-color: #FFFFFF;
    -fx-box-border: #FFFFFF;
}

.text-area{
    -fx-background-color: #eee, #fff;
    -fx-min-height: 60;
}

.text-area .content {
    -fx-background-color: #fff;
}

.text-area:focused .content {
    -fx-background-color: #fff;
}

.split-pane-horizontal > .split-pane-divider {
    -fx-background-color: #eee;
    -fx-padding: 1;
}

